canvas {
  background: #eee;
  display: block;
  margin: 0 20px 0 20px;
  height: 576px;
  width: 864px;
  border: 1px solid white;

}

h1 {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  margin: 5px 0 10px 0;
  color: black;
  font-size: 46px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

body{
  background-color: #dbe5db;
  background-image: url(./images/bg.svg);
  background-position: 50%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.scores{
  font-family: 'Share Tech Mono', monospace;
  width: 222px;
  text-align: center;
  background: rgba(169, 169, 169, 0.65);
  height: 50%;
}
.inst{
  font-family: 'Share Tech Mono', monospace;
  width: 222px;
  text-align: center;
  background: rgba(169, 169, 169, 0.65);
  height: 50%;
}

.contact{
  font-family: 'Orbitron', sans-serif;
  color: black;
  align-items: center;
  padding-top: 10px;
  width: 250px;
  margin:auto;
  text-align: center;
  font-weight: bold;
}
.icons{
  list-style: none;
  font-size: 26px;
  display: flex;
  padding: 5px; 0;
  width: 150px;
  margin:auto;
}

li {
  padding: 0 10px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover{
  color: #3d3d3d;
}

button {
  font-family: 'Share Tech Mono', monospace;
  background: #240f5b;
  border: 1px solid transparent;
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
  font-weight: 200;
}

button:hover{
  cursor: pointer;
}

#scoreBoard{
  list-style: none;
  width: 90%;
  margin: auto;
  padding: 0 0 18px 0;
}

#scoreBoard li {
  display: flex;
  justify-content: space-between;
}

#highScore{
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  z-index: 2;
  margin: auto;
  background: rgba(169, 169, 169, 0.65);
  width: 175px;
  position: relative;
  top: -594px;
  right: -281px;
  padding: 5px 0;
}

#highScore #name {
  font-family: 'Share Tech Mono', monospace;
  margin: 5px 0;
  text-align: center;
  width: 30px;
}
#highScore #submit {
  font-family: 'Share Tech Mono', monospace;
  margin: 5px 0;
  text-align: center;
  background: #240f5b;
  color: white;
  border: 1px solid transparent;
  font-weight: 500;
}

strong{
  text-transform: uppercase;
  background-color: rgba(36,15,91,.65);
  color: white;

}
