canvas {
  background: #eee;
  display: block;
  margin: 0 20px 0 20px;
  height: 576px;
  width: 864px;
  border-radius: 5px;

}

h1 {
  text-align: center;
  margin: 75px 0 25px 0;
  color: black;
  font-size: 46px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

body{
  background-color: #dbe5db;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2350a2ff' fill-opacity='0.78'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scores{
  width: 300px;
  text-align: center;
  background: white;
  border-radius: 5px;
  height: 50%;
}
.inst{
  width: 300px;
  text-align: center;
  background: rgba(169, 169, 169, 0.85);
  border-radius: 5px;
  height: 50%;
}

.contact{
  align-items: center;
  padding-top: 20px;
  width: 200px;
  margin:auto;
  text-align: center;
  font-weight: bold;
}
.icons{
  list-style: none;
  font-size: 26px;
  display: flex;
  padding: 10px; 0;
  width: 150px;
  margin:auto;
}

li {
  padding: 0 10px;
}

a {
  color:#535353;
  text-decoration: none;
}

button {
  background: #f06dd3;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
  font-weight: 200;
}

button:hover{
  cursor: pointer;
}
